@import "../../scss/vars.scss";

.sidebar {
  background-color: $layout-white;

  &Header {
    height: $inbox-header-height;
    display: flex;
    align-items: center;
    padding: 0 14px;
    border-bottom: $inbox-border;
  }
}

.search {
  width: 100%;
  padding: 20px 20px 20px 64px;
  font-size: 18px;
  font-family: inherit;
  border-radius: 8px;
  outline: none;
  background-color: #eee;
  background-image: url("../../assets/img/search.svg");
  background-repeat: no-repeat;
  background-position: 16px;

  color: $text-black;
}

.dialogsWrap {
  height: calc(100vh - ($inbox-header-height + $inbox-profile-height));
  overflow: auto;
}
